/* Configurações Globais */
:root {
    --cor-principal: rgb(103, 104, 103); /*botoes cores*/
    --cor-secundaria: #4CAF50; /* Fundo cabeçalho*/
    --cor-fundo: #ecf0f1; /* Cinza Claro */
    --cor-texto-claro: #ffffff;
    --cor-texto-escuro: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-escuro);
    line-height: 1.6;
}

/* Estilo do Cabeçalho */
header {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 5px;
    font-size: 2.5em;
}

/* Estilo da Grade de Jogos */
.game-grid {
    display: grid;
    /* Cria uma grade com colunas flexíveis */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo do Cartão de Jogo */
.game-card {
    background: var(--cor-texto-claro);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Remove sublinhado do link */
    color: inherit;
    display: block; /* Ocupa todo o espaço da grade */
}

.game-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    color: var(--cor-principal);
    margin-bottom: 10px;
    font-size: 1.5em;
}

.card-content p {
    margin-bottom: 15px;
    color: #555;
}

/* Estilo da Tag (Categoria) */
.tag {
    display: inline-block;
    background-color: var(--cor-principal);
    color: var(--cor-texto-claro);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

/* Estilo do Rodapé */
footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}